* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.logo-image {
    width: 595, 18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

header {
    margin: 47px 0 303.18px 42px;
}

.box-1 {
    margin-right: 36px;
}

.box-2 {
    margin-right: 32px;
}

.box-3 {
    margin-right: 32px;
}

.box-4 {
    margin-right: 32px;
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
}

.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 124px;
    height: 51px;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
    margin-left: 110.1px;
    margin-bottom: 47px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-left: 96.83px;
    margin-bottom: 55px;

}
a {
    font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 1px;
color: green;
width: 112px;
margin-left: 84.98px;
}